@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
.padding-top {
    margin-top: 6rem;
}

textarea {
    resize: none;
}


/* body {
    background-color: black;
    color: white;
}
.classTable {
    color: white;
}
thead {
    color: black;
}
table {
    background-color: rgba(88, 88, 88, .5);
} */

#anu_class_wrapper > div:nth-child(1) {
    margin-bottom: 1rem !important;
}