@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
.padding-top {
    margin-top: 6rem;
}

textarea {
    resize: none;
}


.preloader {
    align-items: center;
    background: #FFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
  }
.logo {
    width: 5rem;
    height: 5rem;
}
.header {
    background-color: #555;
}
.createBtn {
    color: white;
    font-weight: bold;
}
.createBtn:hover {
    color: white;
    opacity: .9;
}
/* body {
    background-color: black;
    color: white;
}
.classTable {
    color: white;
}
thead {
    color: black;
}
table {
    background-color: rgba(88, 88, 88, .5);
} */

#anu_class_wrapper > div:nth-child(1) {
    margin-bottom: 1rem !important;
}