@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
.padding-top {
    margin-top: 6rem;
}

textarea {
    resize: none;
}

.headerCont, section {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}
.preloader {
    align-items: center;
    background: #FFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
  }
.logo {
    width: 4rem;
    height: 4rem;
}
.header {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 15px 2px black;
}
.createBtn {
    color: white;
    font-weight: bold;
}
.createBtn:hover {
    color: white;
    opacity: .9;
}
.tableHead {
    font-size: 1.2rem;
}
#anu_class {
    margin: 2rem auto !important;
    /* color: white; */
}
.btnBlue {
    background-color: #000B18;
}
/* #anu_class_wrapper > div:nth-child(1) {
    margin-bottom: 1rem !important;
} */
.createClass a {
    background-color: #000B18;
}
.createClass a:hover, .createClass a:focus {
    background-color: #000B18;
    opacity: .9;
}